{{/* begin footer-widgets */}}
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      {{ partial "footer-widgets/widget-left.html" . }}
      {{ partial "footer-widgets/widget-center.html" . }}
      {{ partial "footer-widgets/widget-right.html" . }}
    </div>
  </div>
</section>
{{/* end footer-widgets */}}

{{/* begin footer */}}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__inner">

          <div class="copyright">
            Crafted with <i class="fa-solid fa-heart"></i>️ by <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}.</a>
          </div>

          {{ partial "social-links.html" . }}
        </div>
      </div>
    </div>
  </div>
</footer>
{{/* end footer */}}
