<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="{{ .Site.Params.theme_color }}">

  <title>{{ if not .IsHome }}{{ humanize .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Description }}{{ end }}">

  {{/* Twitter Card */}}
  <meta name="twitter:card" content="summary_large_image">

  {{/* TODO: add author's Twitter handle */}}
  <meta name="twitter:creator" content="@{{ if .IsHome }}{{ .Site.Params.Twitter.handle }}{{ else }}AUTHORTWITTERHANDLE{{ end }}">
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  <meta name="twitter:domain" content="{{ .Site.BaseURL }}">
  <meta name="twitter:image" content="{{ if .IsHome }}{{ .Site.Params.hero_image | absURL }}{{ else }}{{ .Params.Image | absURL }}{{ end }}">
  <meta name="twitter:site" content="{{ .Site.BaseURL }}">
  <meta name="twitter:title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">

  {{/* OpenGraph */}}
  <meta property="og:title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage }} {{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  <meta property="og:image" content="{{ if .IsHome }}{{ .Site.Params.hero_image | absURL }}{{ else }}{{ .Params.Image | absURL }}{{ end }}">

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}

  {{/* Styling (Fonts, Icons, etc.) */}}
  <link rel="preconnect" href="https://kit.fontawesome.com/">
  <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">

  <script src="https://kit.fontawesome.com/{{ .Site.Params.fontawesome.identifier }}.js" crossorigin="anonymous"></script>

  {{/* CSS */}}
  {{ with resources.Get "sass/main.scss" | toCSS | minify }}
  <style>{{ .Content | safeCSS }}</style>
  {{ end }}
</head>
