{{/* begin hero */}}
{{ if .Site.Params.hero_image }}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img src="{{ .Site.Params.hero_image }}" alt="{{ .Site.Title }}">
    </div>
    <div class="hero__content">
      <h1 class="hero__title">{{ .Site.Title }}</h1>
      <p class="hero__desc">{{ .Site.Params.Description }}</p>
    </div>
  </div>
</section>
{{ else }}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero__title">{{ .Site.Title }}</h1>
      <p class="hero__desc">{{ .Site.Params.Description }}</p>
    </div>
  </div>
</section>
{{ end }}
{{/* begin hero */}}
